:root {
    --background: #1e1e1e;
    --background-muted: rgba(0, 0, 0, 20%);
    --card-bg: rgba(0, 0, 0, 0.6);
    --highlight: rgba(255, 0, 34, 0.7);
    --text-default: #dcddde;
    --text-light: #aaaaaa;
    --btn-bg: #ff0022;
    --btn-text: #ffffff;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: var(--text-primary);
    }
}

@font-face {
    font-display: swap;
    font-family: "PriceDownBl";
    src: url(assets/fonts/pricedown_bl.ttf);
}

@font-face {
    font-display: swap;
    font-family: "Montserrat";
    src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}

u {
    cursor: help;
}

::-webkit-scrollbar {
    background-color: var(--background-muted);
    border-radius: 8px;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--btn-bg);
    border-radius: 8px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    font-family: Montserrat, sans-serif, Arial;
    color: var(--text-default);
    overflow: hidden scroll;
    margin: 0;
}

/** Header Section **/
header {
    margin: auto;
    padding: 10px 25px;
    background-color: var(--highlight);
    position: fixed;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 4px 4px;
    width: 35%;
    top: 0;
    right: 0;
    left: 0;
}

header a {
    font-weight: bold;
    font-size: 1rem;
    text-overflow: ellipsis;
    text-decoration: none;
    overflow: hidden;
    color: inherit;
}

header a:hover,
header a:focus {
    text-decoration: underline var(--btn-text);
}

h1 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
}

/** Packages Section **/
.packages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1rem;
    gap: 1rem;
}

.pack {
    height: 16rem;
    width: 16rem;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid var(--text-default);
    background-color: rgba(0, 0, 0, 45%);
    margin: 0 auto;
}

.pack:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.pack .title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.2rem;
}

.pack .price {
    font-size: 0.8rem;
    font-weight: normal;
    color: #118c4f;
}

.pack .features {
    font-size: 0.9rem;
    color: var(--text-light);
    padding-left: 20px;
}

.pack .features li {
    margin: 10px 0;
}

.purchase-btn {
    padding: 10px 20px;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: none;
    border-radius: 2.5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: PriceDownBl;
    text-transform: uppercase;
}

.purchase-btn:hover {
    background-color: var(--highlight);
}

/** Reviews Section **/
.reviews {
    height: 8rem;
    background-color: var(--card-bg);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4px 8px;
}

.reviews .btn {
    padding: 16px;
    border-radius: 4px;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    cursor: pointer;
    border: none;
    margin: 0 0.2rem;
}

.reviews img {
    width: 30vw;
    height: 100%;
    border-radius: 8px;
}

/** FAQ Section **/
section {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

details {
    margin: 5px 0;
    background-color: #171614;
    border-radius: 2px;
    padding: 10px;
    cursor: pointer;
}
